# The Site Configuration

# Import the theme
theme: jekyll-theme-chirpy

# The language of the webpage
lang: en

# Change to your timezone
timezone: Africa/Johannesburg

# jekyll-seo-tag settings
title: ShopSavvy Sahara

tagline: Best Deals & Honest Reviews

description: >-
  Discover the best shopping deals, product reviews, and money-saving tips across tech, fashion, and more.

# Correct URL and baseurl for project site
url: "https://mkhatshwa027-eng.github.io"

baseurl: "/Shopsavvy-sahara"

github:
  username: mkhatshwa027-eng  # change if you want

twitter:
  username:  # add your Twitter if you have one

social:
  name: Your Name Here  # change to your real name
  email: your.email@example.com  # optional
  links:
    - https://github.com/mkhatshwa027-eng

# Avatar (upload your photo first!)
avatar: /assets/img/avatar.png

# Prefer color scheme (leave empty for auto dark/light toggle)
theme_mode:

# Table of contents in posts
toc: true

# Progressive Web App (installable)
pwa:
  enabled: false

# Pagination
paginate: 10

# DO NOT change anything below unless you know what you're doing
kramdown:
  footnote_backlink: "&#8617;&#xfe0e;"
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: highlight
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - purgecss.js
  - "*.config.js"
  - "package*.json"

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/
